@media screen and (max-width: 435px) {
  nav h1 {
  	padding: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 730px) {
/* ====================== Restaurant Listing ====================== */
  #restaurants-list li {
    width: 220px;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
/* ====================== Restaurant Listing ====================== */
  #restaurants-list li {
    width: 270px;
  }
}

@media screen and (max-width: 450px) {
/* ====================== Restaurant Filtering ====================== */
  .filter-options select  {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {

/* ====================== Restaurant Details ====================== */
  .inside {
    height: 100%;
    width: 100%;
  }
  .inside header {
    height: 20%;
    z-index: 1000;
  }
  #breadcrumb {
    width: 100%;
    padding: 10px 0 16px;
  }
  #breadcrumb li a {
    padding-left: 10px;
  }
  #maincontent {
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  .inside #map-container {
    width: 100%;
    height: 40%;
    top: 131px;
    order: -3;
  }
  #restaurant-container {
    width: 100%;
    height: auto;
    padding: 15px 0 40px;
    order: -2;
  }
  #restaurant-img {
    width: 95%;
  }
  #restaurant-cuisine {
    width: 95%;
  }
  #reviews-container {
    width: 100%;
    height: auto;
    padding: 15px 0;
    order: -2;
  }
  #reviews-list li {
    padding: 0 20px 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .inside #footer {
    width: 100%;
    padding: 25px 0;
  }
}
